{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>CMS | User Registration</title>
    <link href="{% static 'user/assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'user/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'user/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'user/assets/css/style-responsive.css' %}" rel="stylesheet">

  </head>

  <body>
	  <div id="login-page">
	  	<div class="container">
	<h3 align="center" style="color:#fff">Complaint Managent System</h3>
	<hr />
		      <form class="form-login" method="post">
                   {% csrf_token %}
		        <h2 class="form-login-heading">User Registration</h2>
		        <p style="padding-left: 1%; color: green">

		        </p>
		        <div class="login-wrap">
		         <input type="text" class="form-control" placeholder="Full Name" name="fullname" required="required" autofocus>
		            <br>
		            <input type="email" class="form-control" placeholder="Email ID" id="email" onBlur="userAvailability()"  name="email" required="required">
		             <span id="user-availability-status1" style="font-size:12px;"></span>
		            <br>
		            <input type="password" class="form-control" placeholder="Password" required="required" name="password"><br >
		             <input type="tel" class="form-control" maxlength="10" name="contactno" placeholder="Contact no"  pattern="^\d{10}$" title="use only digits" required autofocus>
		            <br>

		            <button class="btn btn-theme btn-block"  type="submit" name="submit" id="submit" ><i class="fa fa-user"></i> Register</button>
		            <hr>

		            <div class="registration">
		                Already Registered<br/>
		                <a class="" href="{% url 'user_login' %}">
		                   Sign in
                        </a>
		            </div>
                    <br>
                      <a class="" href="{% url 'admin_login' %}">
		                   Admin Login
                        </a>

		        </div>



		      </form>

	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'user/assets/js/jquery.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap.min.js' %}"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{% static 'user/assets/js/jquery.backstretch.min.js' %}"></script>
    <script>
        $.backstretch("{% static 'user/assets/img/bg.jpg' %}", {speed: 500});
    </script>


  </body>
</html>

{% ifequal error "no" %}
<script>
    alert('Signup Successfully');
    window.location=('{% url 'user_login' %}');


</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something went wrong,Try Again...');
</script>
{% endifequal %}

<script>
function phonenumber(inputtxt)
{
  var phoneno = /^\d{10}$/;
  if((inputtxt.value.match(phoneno))
        {
      return true;
        }
      else
        {
        alert("message");
        return false;
        }
}
</script>